@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  font-family: 'Outfit', sans-serif;
}

:root {
    --primary: #5F6FFF;
}

.bg-primary {
    background-color: var(--primary);
}

.text-primary {
    color: var(--primary);
}

.border-primary {
    border-color: var(--primary);
}

::-webkit-scrollbar {
    display: none;
}

